<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ARM_User.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Business Policy" />
      <add name="Data Policy">
        <exceptionTypes>
          <add type="Oracle.DataAccess.Client.OracleException, Oracle.DataAccess, Version= 2.111.7.0, Culture=neutral, PublicKeyToken=89b483f429c47342" postHandlingAction="ThrowNewException" name="OracleException">
            <exceptionHandlers>
              <add type="ARM_User.ExceptionHandling.OracleExceptionHandler, ARM_User, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Display Policy">
        <exceptionTypes>
          <add type="System.ApplicationException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="ApplicationException">
            <exceptionHandlers>
              <add type="ARM_User.ExceptionHandling.AppMessageExceptionHandler, ARM_User, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Custom Handler" />
            </exceptionHandlers>
          </add>
          <!--add type="System.ApplicationException, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException" name="OraApplicationException">
            <exceptionHandlers>
              <add type="ARM_User.ExceptionHandling.AppMessageExceptionHandler, ARM_User, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Custom Handler"/>
            </exceptionHandlers>
          </add-->
        </exceptionTypes>
      </add>
      <add name="Global Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
            <exceptionHandlers>
              <add type="ARM_User.ExceptionHandling.AppMessageExceptionHandler, ARM_User, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <connectionStrings>
    <add name="ARM_User.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=KBAL11PAVL;PASSWORD=main;PERSIST SECURITY INFO=True;USER ID=MAIN"
      providerName="Oracle.DataAccess.Client" />
    <add name="ARM_User.Properties.Settings.ConnectionString1" connectionString="DATA SOURCE=KBAL11PAVL;PASSWORD=main;USER ID=MAIN"
      providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ARM_User.Properties.Settings.ConnectionString2" connectionString="DATA SOURCE=KBAL11PAVL;PASSWORD=ADM;PERSIST SECURITY INFO=True;USER ID=ADM"
      providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ARM_User.Properties.Settings.ConnectionString3" connectionString="Data Source=cbal_stend;Persist Security Info=True;User ID=main;Password=main;Unicode=True"
      providerName="System.Data.OracleClient" />
    <add name="ARM_User.Properties.Settings.ConnectionString4" connectionString="DATA SOURCE=CBAL_STEND;PASSWORD=main;USER ID=MAIN"
      providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ARM_User.Properties.Settings.ConnectionString5" connectionString="DATA SOURCE=XE;PASSWORD=main;USER ID=MAIN"
      providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ARM_User.Properties.Settings.ConnectionString6" connectionString="DATA SOURCE=CBAL_NEW;PASSWORD=asdf2016#;PERSIST SECURITY INFO=True;USER ID=MAIN"
      providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ARM_User.Properties.Settings.ConnectionString7" connectionString="Data Source=grecbpavl;User ID=main;Password=main;Unicode=True"
      providerName="System.Data.OracleClient" />
    <add name="ARM_User.Properties.Settings.ConnectionString8" connectionString="DATA SOURCE=GRECBPAVL;PASSWORD=main;USER ID=MAIN"
      providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ARM_User.Properties.Settings.ConnectionString9" connectionString="Data Source=grecb;User ID=main;Password=main;Unicode=True"
      providerName="System.Data.OracleClient" />
    <add name="ARM_User.Properties.Settings.ConnectionString10" connectionString="Data Source=grecbnb_250;User ID=main;Password=main;Unicode=True"
      providerName="System.Data.OracleClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils3" publicKeyToken="79868B8147B5EAE4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.3.0" newVersion="3.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.111.7.0" newVersion="2.111.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.112.1.0" newVersion="2.112.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <userSettings>
    <ARM_User.Properties.Settings>
      <setting name="ава" serializeAs="String">
        <value>tablePeriod.ord</value>
      </setting>
      <setting name="sss" serializeAs="String">
        <value>tablePeriod.ord</value>
      </setting>
    </ARM_User.Properties.Settings>
  </userSettings>
</configuration>
